[Unit]
Description=Fireplace Controller
After=multi-user.target
#Conflicts=getty@tty1.service

[Service]
WorkingDirectory=/home/tech/projects/wifire
ExecStart=/home/tech/projects/wifire/.venv/bin/gunicorn -k gthread --threads 4 -b 0.0.0.0:80 server:app
#StandardInput=tty-force

[Install]
WantedBy=multi-user.target
